# mac artifact
.DS_Store

# rubymine artifacts
.idea/

# temp docs
WactzioFE/public/docs/
WactzioFE/public/document.pdf
WactzioFE/public/next.pdf
WactzioFE/public/prev.pdf

# active storage test/tmp docs
active_storage_notes.txt
test_files/
bbox-back/storage/*
json serializer notes
company_files/
seed_files_noGit/
my_notes_noGit/
pdftotext.txt

# not sure 
package-lock.json
